{% extends 'need/base.html' %}
{% block content %}

<style>

input[type="file"] {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
}

button {
  padding: 10px 16px;
  background-color: #4b24e8;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3a1cc1;
}

/* Responsive */
@media (max-width: 600px) {
  .container {
    margin: 20px;
  }
}
</style>

<div class="container-in">
    <h2>CSV Yükle</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="csv_file" accept=".csv" class="form-control mb-3">
        <button class="btn btn-primary">Yükle ve Önizle</button>

        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
                </div>
        {% endfor %}
    </form>
<div>
{% endblock %}
