{% extends "need/base.html" %}
{% block content %}

<style>


/* Checkbox alanı */
form .form-check {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

form .form-check input[type="checkbox"] {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  accent-color: #4b24e8;
}

form .form-check label {
  font-weight: normal;
  margin-top:auto;
  margin-bottom:auto;
  color: #333;
}


/* Dikey sıralı checkbox listesi */
.permissions-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-height: none; /* Taşma olmasın */
}

/* Her bir checkbox elemanı */
.permissions-list .form-check {
  display: flex;
  align-items: center;
  gap: 8px;
}

.permissions-list .form-check input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #4b24e8;
}

.permissions-list .form-check label {
  font-weight: normal;
  color: #333;
  font-size: 0.95rem;
}



/* Responsive */
@media (max-width: 600px) {
  .container {
    margin: 20px;
  }
}
</style>


<div class="container-in py-5">
  <h2>Rol Formu</h2>

  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="{{ form.name.id_for_label }}" class="form-label">Rol Adı</label>
      {{ form.name }}
    </div>
    <div class="mb-3">
      <label for="{{ form.slug.id_for_label }}" class="form-label">Slug</label>
      {{ form.slug }}
    </div>
    <div class="mb-3">
      <label class="form-label">İzinler</label>
      <div class="permissions-list">
        {% for checkbox in form.permissions %}
          <div class="form-check">
            {{ checkbox.tag }} <label class="form-check-label">{{ checkbox.choice_label }}</label>
          </div>
        {% endfor %}
      </div>
    </div>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
            </div>
    {% endfor %}
    <button type="submit" class="btn btn-success">Kaydet</button>
    <a href="{% url 'need:role_list' %}" class="btn btn-secondary">İptal</a>
  </form>
</div>
{% endblock %}
