{% extends "user/base.html" %}
{% block content %}

<style>
/* Responsive */
@media (max-width: 576px) {
  .container {
    margin: 20px;
  }

  form {
    padding: 20px;
  }

  form .d-flex {
    flex-direction: column;
    gap: 10px;
  }
}
</style>


<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-8" style="margin-left:16.6666%;">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Şifre Sıfırlama</h2>
          <p class="text-muted text-center mb-4">
            Şifrenizi sıfırlamak için kayıtlı email adresinizi girin.
          </p>

          <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="email" class="form-label fw-bold">Email Adresi</label>
              <input type="email" name="email" id="email" class="form-control" placeholder="Email adresinizi girin" required>
            </div>
            <div>
            <button type="submit" class="btn btn-primary w-100">Sıfırlama Linki Gönder</button>
            </div>
            <div class="mt-2">
              <a href="{% url 'user:login' %}">Giriş yap</a>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}